.work-container{
    background: black;
    width: -webkit-fill-available;
    height: 100vh;
    color: white;
}

.work-childContainer{
    border: 1px solid red;
    margin-left: 19%;
    width: -webkit-fill-available;
    height: 100vh;
}