.edu-main{
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.edu{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #d43f52;
    font-weight: 600;
}

.edu-container{
    display: flex;
    background: #141313;
    margin: 0 40px;
    padding: 20px 20px;
    width: fit-content;

}

.place{
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0;
    color: #808080;
}
.course{
    font-weight: 500;
}
.date{
    padding: 10px 0;
}
.about{
    font-weight: 400;
}
.point li{
    font-weight: 100;
    padding: 4px;
}
.des{
    display: flex;
    justify-content: space-between;
}

.icon img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
    border-radius: 50%;
    object-fit: fill;
}

.icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}